={
    font-family:Arial, Helvetica, sans-serif;  
    margin: 20px;
}

body{
    line-height: 1.6;
    background-color: rgb(252, 211, 211);
}

/* Selector de clase */
.class_selector {
    font-size: 40px;
    color: brown;
    font-weight: bold;
}

/* Selector de ID */
#id_selector {
    font-size: 20px;
    color: darkmagenta;
    font-style: italic;
}

/* Combinación de selectores */
#selectores_universal_combinaciones {
    font-size: 25px;
    color: forestgreen;
}

#selectores_universal_combinaciones p{
    font-size: 25px;
    color: rgb(10, 80, 126);
}

#selectores_universal_combinaciones ul li strong{
    font-size: 15px;
    color: rgb(88, 34, 139);
}

/* Si tiene una coma no es una combinación de selectores, es un selector múltiples*/
p li{
    color: deeppink;
    font-size: 20px;
}

.display_block{
        margin: 25px 0 25px 0;
    display: block;
    background-color: royalblue;
}

.display_inline{
    margin: 10px 0 10px 0;
    display: inline;
    background-color: lightcoral;
    color: antiquewhite;
}

.display_inline_block{
    margin: 25px 0 25px 0;
    display: inline-block;
    background-color: tomato;
}

.display_inline_block_2{
    margin: 25px 0 25px 0;
    display: inline-block;
    background-color: rgb(255, 154, 71);
}

.pseudo_hover{
    background-color: cadetblue;
    color: rgb(39, 36, 36);
    border-radius: 15px;
    border: 2px solid ;
    font-size: 20px;
    padding: 20px 0 20px 0;
}

.pseudo_hover:hover{
    background-color: rgb(90, 118, 207);
    color: rgb(245, 196, 196);
    border-radius: 20px;
    border: 2px solid ;
    font-size: 20px;
}

.pseudo_focus{
    background-color: rgb(132, 248, 229);
    color: rgb(39, 36, 36);
    border-radius: 15px;
    border: 2px solid ;
    font-size: 15px;
}

.pseudo_focus:focus{
    background-color: rgb(236, 182, 198);
    color: rgb(184, 115, 230);
    border-radius: 15px;
    border: 2px solid ;
    font-size: 15px;
}

.pseudo_active{
    padding: 15px;
    border-radius: 15px;
    border: 2px solid ;
    background-color: rgba(100, 148, 237, 0.452);
}

.pseudo_active:active{
    background-color: blueviolet;
    border: 2px solid ;
}